input{
  width: 300px;
}

input.info, p{
  padding: 20px;
  margin-bottom: 20px;
}

input.submit{
  background-color: rgb(240, 88, 32);
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  margin-bottom: 30px;
}

*{
  font-family: 'Noto Sans KR', sans-serif;
}