.info-card{
  margin: 5% 0% 20% 0%;
}

.info-box{
  margin-top: 50px;
}

.card-body .info-box{
  display: inline-block;
}

.info-box .info-detail{
  margin: 20px 0px 20px 10px;
  width: 300px;
}

.info-flex{
  display: flex;
  align-items: center;

}

.info-title{
  color: coral;
  margin: 0px 0px 20px 10px;
}

.info-title-big{
  margin: 0px 0px 20px 10px;
}
