.info-card{
  margin: 5% 0% 20% 0%;
}

.info-box{
  margin-top: 50px;
}



/* .info-box .info-detail{
  margin: 20px 0px 20px 10px;
  width: 300px;
} */


.info-box .info-detail.detail-check{
  margin-right: 0;
}


.info-flex{
  display: flex;
  align-items: center;
  

}

.info-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}



.info-flex-center input{
  margin-left: 20px;
  padding: 0 20px 0 20px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgb(240, 88, 32);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
  color: rgb(240, 88, 32);
}

.info-flex-center input:hover{
  margin-left: 20px;
  padding: 0 20px 0 20px;
  border-radius: 8px;
  background-color: rgb(240, 88, 32);
  border: 1px solid #fff;
  color: #fff;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}

.info-flex-center input:not(:hover){
  margin-left: 20px;
  padding: 0 20px 0 20px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgb(240, 88, 32);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
  color: rgb(240, 88, 32);
}


.info-title{
  color: coral;
  margin: 0px 0px 20px 10px;
}

.info-title-big{
  margin: 0px 0px 20px 10px;
}

.checkbox{
  margin: 0;
  padding: 0;
  width: 13px;
  height: 13px;
}