.row-name{
  border-left: 1px solid gray;
}

.row2{
  padding-top: 10px;
  text-align: center;
}

.product-image{
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.use-coupon1{
  margin-left: 15px;
  background-color: gray;
}
