p{
  background-color: #eee;
  text-align: center;
}

form{
  position: absolute;
  /* 기준: content-container in App.css */

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 200px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button{
  margin-top: 30px;
  border: none;
  background: none;
  color: black;
}

input{
  border: 1px solid #ededed;
  margin: 20px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
}